.App {
    /* font-family: sans-serif; */
    /* text-align: center; */
}

html,
body {
    font-family: -apple-system;
    margin: 0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

.container {
    width: 1000px;
    height: 650px;
    margin: 0 auto;
    align-content: flex-end;
}

.install {
    text-align: center;
    margin: 20px auto;
}

code {
    margin: 20px auto;
    background-color: #eee;
    padding: 10px 20px;
}

input {
    border: none;
    border-top: 1px solid #ddd;
    font-size: 16px;
    padding: 30px;
    height:40px;
    width: 100%;
}

input:focus {
    outline: none;
}

.chatfeed-wrapper {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    width: 1000px;
    /* height: 100%; */
    margin: 0 auto;
    border: 1px solid #ddd;
    padding-bottom: 20px;
}

#chat-panel {
    padding: 0px 10px;
}

.chat-history {
    display: block;
    min-height: 250px;
    height:550px;
}

.outer {
    display: block;
    height: 50%;
    overflow-y: scroll;
    position: relative;
}

.inner {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}